
.content {
    margin: 0px;
}

.map {
    border: solid black 1px;
}

#map {
    min-width: 600px;
    height: 600px;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#mapSpace{
    flex: 1;
}

#dataSpace{
    margin: 0;
    max-height: 700px;
}

#mapSpace a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

#mapSpace a::after{
    content: '';
    width: 0px;
    height: 2px;
    margin-top:1px;
    display: block;
    background-color: black;
    transition: .4s ease 0s;
}

#mapSpace a:hover::after{
    width: 100%;
    transition: .4s ease 0s;
}

#recherche ul li {
    list-style: none;
    font-weight: normal;
}

#recherche ul {
    margin: 5px;
}

#recherche ul li a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

#recherche ul li a::after {
    content: '';
    width: 0px;
    height: 2px;
    margin-top:1px;
    display: block;
    background-color: black;
    transition: .4s ease 0s;
}

#recherche  a:hover::after{
    width: 100%;
    transition: .4s ease 0s;
}

#search {
    width: 160px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#fond {
    width: 160px;
    height: 20px;
    margin-left: 5px;
}

.level1 {
    border-bottom: solid 2px black;
    text-align: center;
}

.level1:first-child {
    border-top: solid 2px black;
}

.level1 li{
    padding-left: 10px;
    list-style: none;
    font-weight: normal;
}

.level1 li a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.level1 li a::after{
    content: '';
    width: 0px;
    height: 2px;
    margin-top:1px;
    display: block;
    background-color: black;
    transition: .4s ease 0s;
}

.level1 a:hover::after{
    width: 100%;
    transition: .4s ease 0s;
}

.level1 ul {
    background-color: #8fceff;
}

#menu {
    margin-left: 0;
    margin-right: 0;
}

#legende li{
    list-style: none;
}

#legende input{
    margin-left: 1%;
}

#legende select{
    margin-left: 1%;
}

#features{
    max-width: 1000px;
    overflow-x: auto;
}

#legende{
    display: flex;
    flex-direction: column;
}

.legendElem{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

em{
    font-weight: bold;
}

#legende div div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    flex: 2;
}

#legende div div:nth-child(1){
    flex: 1;
}

#legende div div:nth-child(2) li{
    margin-top: 1%;
}

#contenue {
    overflow: auto;
    max-height: 550px;
    z-index: 2;
    padding: 0;
    width: 300px;
    text-align: left;
}

#onglet {
    display: block;
    z-index: 1;
    max-width: 600px;
    border: 1px solid black;
    background-color: #0090ff;
    height: 600px;
}

.level1 {
    font-weight: bold;
}

#onglet p{
    padding: 5px;
}

#onglet p:hover {
    cursor: pointer;
}

#export{
    color: black;
    text-decoration: none;
    display: inline-block;
}

#export::after{
    content: '';
    width: 0px;
    height: 2px;
    margin-top:1px;
    display: block;
    background-color: black;
    transition: .4s ease 0s;
}

#export:hover::after{
    width: 100%;
    transition: .4s ease 0s;
}

.level1 span:hover {
    cursor: pointer;
}

.level1 span {
    margin: 5px;
}

.sousMenu {
    border-top: 1px solid black;
}

.sousMenu li {
    text-align: left;
}

.level1 li:first-child {
    padding-top: 5px;
}

h3 {
    margin: 5px;
}

#rechercheTitre:hover {
    cursor: pointer;
}