#map {
    height: 600px;
    width: 1000px;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}


#mapSpace{
    margin-right: 1%;
    max-width: 1010px;
}

#dataSpace{
    margin: 0;
}

#mapSpace a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

#mapSpace a::after{
    content: '';
    width: 0px;
    height: 2px;
    margin-top:1px;
    display: block;
    background-color: black;
    transition: .4s ease 0s;
}

#mapSpace a:hover::after{
    width: 100%;
    transition: .4s ease 0s;
}

.level1 li{
    list-style: none;
    background-color: rgb(200,200,200);
}

.level1 li a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.level1 li a::after{
    content: '';
    width: 0px;
    height: 2px;
    margin-top:1px;
    display: block;
    background-color: black;
    transition: .4s ease 0s;
}

.level1 a:hover::after{
    width: 100%;
    transition: .4s ease 0s;
}

#legende li{
    list-style: none;
}

#legende input{
    margin-left: 1%;
}

#legende select{
    margin-left: 1%;
}

#features{
    max-width: 1000px;
    overflow-x: auto;
}

#legende{
    display: flex;
    flex-direction: column;
}

.legendElem{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

em{
    font-weight: bold;
}

#legende div div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    flex: 2;
}

#legende div div:nth-child(1){
    flex: 1;
}

#legende div div:nth-child(2) li{
    margin-top: 1%;
}
