
#map {
    height: 400px;
    width: 400px;
}

#data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
}

#container {
    height: 90%;
    display: block;
    flex: 1;
    padding: 5px;
}

#selecteurs {
    background-color: 0090ff;
    border-left: 1px solid black;
    width: 400px;
}

#selecteurs h3,#selecteurs h4{
    margin: 5px;
}

#selecteurs select {
    margin-left: 5px;
}

.content {
    margin: 0;
}

select {
    width: 300px;
}

#filtres {
    margin-bottom: 5px;
}
